#app {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #2C3350;
  margin-top:60px;
  padding-left: 10%;
  padding-right: 10%;
}

.signout-btn {
  position: absolute;
  text-align: right;
  top: 60px;
  right: 40px;
}

.form {
  padding-left: 10%;
  padding-right: 10%;
}

.event-card {
  border: 2px solid #2C3E50;
  margin-top: 10px;
  border-radius: 4px;
}
