body {
  background: #263238
}

#app {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -webkit-font-smooting: antialiased;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.character-card {
  border: 2px solid #4FC08D;
  border-radius: 4px;
  cursor: pointer;
}
